<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Movie</title>
</head>
<body>
<div align="center">
    <h1>Welcome to Your Movie web application</h1><br><br>
    <h3>The most honest form of filmmaking is to make a film for yourself.</h3>
    <h3>Peter Jackson</h3><br><br><br>
    <form action="/login-page" method="get">
        <input name="login" type="submit" value="Log in" style="font-size: 20px; padding: 10px 20px;"/>
    </form>
    <form action="/signup-page">
        <input name="signup" type="submit" value="Sign up" style="font-size: 20px; padding: 10px 20px;"/>
    </form>
</div>
</body>
</html>